.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding: 0 20px;
}

.hero-image {
    margin-top: 100px;
    border-radius: 80%;
    width: 200px;
    height: 150px;
}

h1 {
    text-align: center;
    width: 60%;
    font-size: 50px;
    font-weight: 600;
}

.span-text {
    background: linear-gradient(360deg, #1515 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #007bff 0.36%, #B923E1 102.06%);
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume {
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid white;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border: 2px solid #B923E1;
}


@media (max-width: 1024px) {
    h1 {
        width: 80%;
        font-size: 40px;
    }
    .desc {
        width: 70%;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        width: 90%;
    }
    .desc {
        width: 80%;
        font-size: 18px;
    }
    .hero-connect,
    .hero-resume {
        padding: 15px 25px;
        font-size: 15px;
    }
    .hero-action {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .hero-image {
        margin-top: 50px;
        width: 150px;
        height: 120px;
    }
    h1 {
        font-size: 24px;
        width: 100%;
    }
    .desc {
        width: 90%;
        font-size: 16px;
        line-height: 24px;
    }
    .hero-connect,
    .hero-resume {
        padding: 10px 20px;
        font-size: 14px;
    }
    .hero-action {
        gap: 10px;
        font-size: 16px;
    }
}
